.full-screen-password {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0,0,0,0.4);
    z-index: 2;
}

.full-screen-password .popup-password {
    background-color: rgb(255, 255, 255);
    border-radius: 1.2rem;
    height: 10rem;
    width: 15rem;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(28, 63, 85);
}

.full-screen-password .input-password {
    height: 1.5rem;
    border-radius: 7px;
    border-color: #324BAF;
    text-align: center;
}

.full-screen-password .text {
    font-weight: 800;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.check-password-btn {
    width: 4.7rem;
    height: 1.7rem;
    border-radius: 7px;
    background-color: #324BAF;
    margin-top: 0.5rem;
    color: white;
    text-align: center;
    padding-top: 0.3rem;
    font-weight: 800;
}

.wrong-animation {
    animation-name: wrongAnimation;
    animation-duration: 1s;
}
.correct-animation {
    animation-name: correctAnimation;
    animation-duration: 1s;
}

@keyframes wrongAnimation {
    0% {background-color: rgb(255, 255, 255);}
    50% {background-color: rgb(240, 124, 124);transform: scale(0.9);}
    100% {background-color: rgb(255, 255, 255);}
  }

@keyframes correctAnimation {
    0% {background-color: rgb(255, 255, 255);}
    50% {background-color: rgb(124, 240, 172);transform: scale(1.09);}
    100% {background-color: rgb(255, 255, 255);}
  }